.header{
    background-color: orangered;
}
.footer{
    background-color: slateblue;
}
@media screen and (min-width: 769px){


.contents{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.main{
    flex-grow: 1;
}
}
.local-nav-list__item{
    background-color: limegreen;
    list-style-type: none;
    border: 1px solid;
    text-align: center;
    margin: 0;
}
.main{
    background-color: dodgerblue;
}