/* scroll */
#wrapper{
	width: 100%;
	height: 100%;
}
#section_wrapper{
width: 100%;
height: 100%;
}
 .sc {
		white-space: nowrap;
		font-size: 100%;
 }

 #section1{
	 position: fixed;
	 top: 50%;
		left: 50%;
	  margin: 0;
		padding: 0;
		display: block;
 }
 #section2{
	 position: fixed;
	 top: 50%;
		left: 50%;
	  margin: 0;
		padding: 0;
		display: block;
 }

 #section3{
	position: fixed;
	top: 50%;
	 left: 50%;
	 margin: 0;
	 padding: 0;
	 display: block;
}
#every{
	font-size: 100%;
}
#section4{
	position: fixed;
	margin-top: 20px;
	left: 10%;
	 margin: 0;
	 padding: 0;
	 display: block;
	 float: left;
}

#section5{
	position: fixed;
	right: 20%;
	float: right;
	 margin: 0;
	 padding: 0;
	 display: block;
}
 div{
	 display: block;
 }

 #bye{
	 font-size: 100%;
 }
